#footer{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.253);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*ARTICULO LOGO*/

#footer img {
    width: 100px;
    border-radius: 100%;
    }

    
/*ARTICULO NAVBAR*/

.footer__links ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.footer__links ul li a {
    color: black;
    font-size: 25px;
    margin-top: 7px;
    }

.footerRedes {
    height: 60px;
}
