/*SECCION BANNER*/

#presentacion h1{
    text-align: center;
    
    width: auto;
    background-color: rgba(128, 0, 128, 0.61);
    font-size: 50px;
    border-radius: 100px;
}
#presentacion {
    display: flex;
    margin: 50px;
    text-align: center;
    font-size: 40px;
    margin-top: 90px;
    }

#plataformasDisenios{
    margin: 50px;
}
#plataformasDisenios h1{
    text-align: center;
    margin-top: 20px;
    width: auto;
    background-color: rgba(128, 0, 128, 0.61);
    font-size: 50px;
    border-radius: 100px;
    
}

#plataformasDisenios .plataformas{
    margin-top: -180px;
    display: flex;
    justify-content: space-around;
}
#plataformasDisenios ul li img{
    
    height: 500px;
    
}