.productosBox {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    text-align: center;
    justify-content: space-around;
        
}

.productosBox article{
    background-color: rgba(128, 0, 128, 0.473);
    border-radius: 10%;
}
.productosBox img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10%;
}

@media (max-width: 768px) {
    .productosBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .productosBox article{
        width: 320px;
        
    }
}