#trabajos {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    }

#trabajos h1{
    margin-top: 80px;
}

#materiales {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    }

#materiales h1{
    margin-top: 10px;
}

/*
.carousel{
    width: 50%;
    height: 700px;
}
.carousel .carousel-item {
    height: 700px;
    object-fit: cover;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;      
    left: 0;
    min-height: 1 px;
    margin: 20px;
}
*/


#materiales carouselExampleCaptions {
    height: 300px;
}
@media (max-width: 768px) {
    #materiales h1{
        color: aqua;
        
    }
    #materiales div{
        height: 300px;
        display: flex;
    }
}