#trabajos {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    }

#trabajos h1{
    margin: 20px;
    font-size: 60px;
    margin-top: 60px;
}

#trabajos img{
    border-radius: 20px;
}
#materiales {
    display: flex; 
    display: block;
    text-align: center;
    align-items: center;
    flex-direction: column;
    }


#materiales img{
    border-radius: 50px;
    margin-bottom: 20px;
    height: 600px;
}

#materiales h1{
    margin: 30px;
    font-size: 60px;
}

#materiales h5{
    background-color: rgba(255, 255, 255, 0.404);
    color: purple;
    font-size: 40px;
    border-radius: 20px;
}
#materiales p{
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 40px;
    color: purple;
    font-size: 30px;
}
/*
.carousel{
    width: 50%;
    height: 700px;
}
.carousel .carousel-item {
    height: 700px;
    object-fit: cover;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;      
    left: 0;
    min-height: 1 px;
    margin: 20px;
}
*/


#materiales carouselExampleCaptions {
    height: 300px;
}